@import "reset";
@import "variable";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: darkgray;
  background-size: auto;
}

h3 {
  text-align: center;
  margin-top: 15px;
  font-size: 50px;
  font-family: Impact;
}
