#banner {
  background-color: #151C23;
  margin: 0;
  height: 150px;
  margin-top: 10px;
}
#bannerContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1700px;
  height: 150px;
}

#bannerContainer > h1,h2 {
  margin: 0;
  color: white;
  font-family: Impact;
  margin-left: 5%;
}

#bannerContainer > h1 {
  font-size: 75px;
}

#bannerContainer > h2 {
  display: flex;
  font-size: 30px;
  margin-top: auto;
  margin-left: 6%;
}
