#loginContainer {
  width: 1300px;
  margin: auto;
  margin-top: 30px;
}

.handShake {
  display: flex;
  width: 50%;
  margin-left: auto;
}

.authForm {
  display: flex;
  width: 50%;
  height: 426.562px;
  justify-content: center;
}

.toggle {
  font-size: 20px;
  margin-top: 10%;
}

.loginh1 {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-size: 50px;
  margin: 0;
  margin-bottom: 35px;
}
